html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @media screen and (min-width: 1024px) {
    width: 1440px;
  }
  
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;

  cursor: pointer;
}
