html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}