.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    li {
        margin-top: 25px;
    }

    p {
        width: 300px;
        margin-top: 7px;
    }
}