.tui-pagination {
  margin-top: 30px;
  text-align: center;

  .tui-page-btn {
    color: #000;
    padding: 6px 10px;

    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    text-align: center;
    text-transform: uppercase;

    border-radius: 5px;
    border: 1px solid #fff;

    &:hover {
      border: 1px solid #ff6b01;
      cursor: pointer;
    }
  }

  .tui-is-selected {
    border: 1px solid #ff6b01;
    background: #ff6b01;
    color: #fff;
  }

  .tui-page-btn + .tui-page-btn {
    margin-left: 5px;
  }
}
