header {
  height: 230px;

  background-image: url('../images/header-bg.png');

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 41px;

    .nav-blok {
      display: flex;
    }

    .logo {
      margin-left: 10px;

      font-size: 30px;
      line-height: 35px;

      align-items: center;
      text-align: center;

      color: #ffffff;
    }

    .link {
      margin-left: 39px;
      padding-bottom: 3px;

      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      align-items: center;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }

    .lang-blok {
      display: flex;
      margin-left: 100px;

      a {
        color: #ffffff;
      }

      .lang-seporation {
        margin-left: 10px;
        margin-right: 10px;

        color: #ffffff;
      }
    }
  }

  .search-line {
    margin-top: 50px;
    text-align: center;

    button {
      background-color: rgba(255, 255, 255, 0);
    }

    input {
      width: 300px;
      margin-right: 10px;
      padding-left: 10px;

      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .nav-buttons {
    margin-top: 50px;
    text-align: center;


    .button + .button {
      margin-left: 15px;
    }
  }
}
