header {
  height: 230px;

  position: sticky;
  top: -1px;
  z-index: 888;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0),
        rgba(47, 48, 58, 0)
      ),
      url(../images/bg-mobile/bg-home-mob-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-mobile/bg-home-mob-2x.jpg);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0),
        rgba(47, 48, 58, 0)
      ),
      url(../images/bg-tablet/bg-home-tab-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-tablet/bg-home-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0),
        rgba(47, 48, 58, 0)
      ),
      url(../images/bg-desktop/bg-home-desk-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-desktop/bg-home-desk-2x.jpg);
    }
  }

  .library-bg {
    @media screen and (max-width: 767px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0),
          rgba(47, 48, 58, 0)
        ),
        url(../images/bg-mobile/bg-library-mob-1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bg-mobile/bg-library-mob-2x.jpg);
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0),
          rgba(47, 48, 58, 0)
        ),
        url(../images/bg-tablet/bg-library-tab-1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bg-tablet/bg-library-tab-2x.jpg);
      }
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0),
          rgba(47, 48, 58, 0)
        ),
        url(../images/bg-desktop/bg-library-desk-1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bg-desktop/bg-library-desk-2x.jpg);
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 41px;

    .nav-blok {
      display: flex;
    }

    .logo {
      @media screen and (max-width: 767px) {
        display: none;
      }

      @media screen and (min-width: 768px) {
        margin-left: 10px;

        font-size: 30px;
        line-height: 35px;

        align-items: center;
        text-align: center;

        color: #ffffff;
      }
    }

    .link {
      @media screen and (min-width: 768px) {
        margin-left: 39px;
      }

      margin-left: 10px;
      padding-bottom: 3px;

      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      align-items: center;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }

    .lang-blok {
      @media screen and (min-width: 768px) {
        margin-left: 100px;
      }

      display: flex;
      margin-left: 30px;

      a {
        color: #ffffff;
      }

      .lang-seporation {
        margin-left: 10px;
        margin-right: 10px;

        color: #ffffff;
      }
    }
  }

  .search-line {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;

    button {
      background-color: rgba(255, 255, 255, 0);
    }

    input {
      @media screen and (max-width: 767px) {
        width: 200px;
      }

      @media screen and (min-width: 768px) {
        width: 300px;
      }

      margin-right: 10px;
      padding-left: 10px;

      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .nav-buttons {
    margin-top: 50px;
    text-align: center;

    .button + .button {
      margin-left: 15px;
    }
  }
}
